#Popup {
     position: absolute;
     top: 50%;
     left: 50%;
     background: #00000054;
     transform: translate(-50%, -50%);
     padding: 0;
     overflow: hidden;
     border-radius: 10px;
     width: 50%;
     z-index: 10000;
     max-height: 80%;
     box-shadow: 0px 9px 20px #0000001c;
}

.background .info {
     position: absolute;
     top: 50%;
     left: 12%;
     text-align: center;
     transform: translate(-50%, -50%);
     overflow: hidden;
     border-radius: 10px;
     width: 20%;
     max-width: 210px;
     z-index: 10000;
     max-height: 80%;
     padding: 13px;
     background: #ffffff08;
     backdrop-filter: blur(10px);
}
.background .info .thumbnail {
     margin-bottom: 20px;
     height: 255px;
     border-radius: 10px;
     box-shadow: 0px 5px 14px #00000042; 
}
.background .info .description {
     font-size: 12px;
     margin: 10px;
}
.background .info .label {
     text-align: left;
     margin-left: 55px;
     opacity: 0.6;
     margin-bottom: 5px;
     font-size: 16px;
}
.background .info .title .text {
     text-align: left;
     font-size: 17px;
     color: white;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 104px;
     display: inline-block    
}

#Popup > .header {
     padding: 20px;
     display: flex;
}

#Popup > .close {
    position: absolute;
    right: 0;
    margin: 10px;
    color: #5b5a5a;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.1s;
    z-index: 1;
}

#Popup > .header  > .loading[set=true] {
     display: inline-block;
}

#Popup > .header  > .loading  {
     height: 25px;
     display: none;
     transform: scale(1.5) translateY(-2px);
     margin-left: 5px;
}

#Popup > .body > .loading > img, #Popup > .header  > .loading > img {
     height: inherit;
     width: inherit;
}

.background .nav {
     position: absolute;
     top: 5%;
     left: 50%;
     text-align: center;
     transform: translate(-50%, -50%);
     overflow: hidden;
     border-radius: 15px;
     width: min-content;
     z-index: 10000;
     padding: 10px;
     max-height: 80%;
     display: flex;
     background: #ffffff14;
     backdrop-filter: blur(10px);
}
.background .nav .navItem {
     transition: all 0.1s;
     margin: 5px;
     border-radius: 50px;
}
.background .nav .navItem:hover  {
     transform:scale(1.2);
}
.background .nav .navItem .material-icons {
     font-size: 15px;
     transition: all 0.1s;
     color: inherit;
}
.background .nav .navItem:hover .material-icons {
     color: #ffffffbd;
}

#Popup > .body > .loading {
     display: none;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

#Popup > .body > .loading[set=true] {
     display: block;
}


#Popup > .close:hover {
     color: #c9c9c9;
}
 

#Popup > .body {
     width: -webkit-fill-available;
     background: #ffffff08;
     height: 400px;
     position: relative;
     overflow: auto;
     padding: 10px;
}

#Popup > .body > video {
     width: -webkit-fill-available;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

#Popup > .body > .video-js {
     position: absolute !important;
     top: 50% !important;
     left: 50% !important;
     transform: translate(-50%,-50%) !important;
     width: -webkit-fill-available !important;
     height: -webkit-fill-available !important;
}

#Popup.movie > .header {
     z-index: 2;
     position: absolute;
     width: fit-content;
     background: #ffffff08;
     backdrop-filter: blur(10px);
     margin: 10px;
     border-radius: 50px;
     padding: 10px;
     padding-left: 25px;
     padding-right: 25px;
}
#Popup.movie > .body {
     width: -webkit-fill-available;
     height: -webkit-fill-available;
     position: unset; 
     padding: 0px;
}
#Popup.movie {
     left: 0;
     height: 100%;
     width: 100%;
     transform: none;
     top: 0;
     border-radius: 0px;
     max-height: none;
}

.background.movie > .nav {
     bottom: 3%;
     top: unset;
     left: 88%;
     height: fit-content;
     padding: 5px;
     border-radius: 50px;
}
.background #ChatBox .body {
     max-height: 50vh;
     overflow: auto;
}
.background #ChatBox {
     position: absolute;
     text-align: center;
     transform: translate(-50%, 0px);
     overflow: hidden;
     border-radius: 10px;
     width: min-content;
     z-index: 10000;
     padding: 10px;
     max-height: 80%;
     display: block;
     box-shadow: 0px 3px 5px #0000001a;
     background: #ffffff12;
     backdrop-filter: blur(10px);
     bottom: 15%;
     top: unset;
     left: 88%;
     height: fit-content;
}

.background #ChatBox .createMember {
     width: fit-content;
     text-align: center;
     height: fit-content;
     margin: auto;
     display: inline-block;
     border-radius: 10px;
     padding: 8px;
     background: #00000026;
     box-shadow: 0px 5px 14px #00000042;
}

.background #ChatBox .createMember .iconParentElement .iconElement {
     font-size: 35px;
}
.background #ChatBox .createMember .iconParentElement .avatar {
     width: 31px;
     border-radius: 50px;
     height: 31px;
     margin-bottom: 8px;
}

.background #ChatBox .createMember .iconParentElement {
     width: min-content;
     margin: auto;
     text-shadow: 0 0 20px;
}

.background #ChatBox .createMember .usernameElement {
     font-size: 10px;
}

.background #ChatBox .members {
     display: flex;
     margin-bottom: 35px;
     border-bottom: solid 1px #ffffff0f;
     padding-bottom: 20px;
}

.background #ChatBox .body .createMessage {
     display:flex;
     margin-bottom: 15px;
}

.background #ChatBox .body .createMessage .iconParentElement {
    margin-right: 10px;
    height: min-content;
    width:  min-content;
    background: #00000030;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 5px 14px #00000042;
}

.background #ChatBox .body .createMessage .iconParentElement .iconElement {
     font-size: 30px;
     text-shadow: 0 0 20px;
}

.background #ChatBox .body .createMessage .contentHolder {
     text-align: left;
}

.background #ChatBox .body .createMessage .contentHolder .usernameElement {
     font-size: 16px;
     color: wheat;
     font-weight: bold;
     margin-bottom: 5px;
     margin-top: 5px;
}

.background #ChatBox .body .createMessage .contentHolder .contentElement {
     font-size: 11px;
     font-style: italic;
}

.background #ChatBox .inputParent .input {
     border: none;
     background: #ffffff21;
     padding: 8px;
     box-shadow: 0px 0px 6px #ffffff1a;
     outline: none;
     border-radius: 50px;
}

.video-js .vjs-control-bar {
     background: #ffffff14 !important;
     backdrop-filter:blur(10px) !important;
     margin: auto;
     margin-bottom: 35px;
     padding-left: 10px;
     width: 50% !important;
     border-radius: 50px;
}
.video-js button {
    background: #24242463;
    margin-right: 10px !important;
    border-radius: 10px;
}
.video-js .vjs-play-progress:before {
     color: white;
}
.background {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 10;
     background: #0000004a;
     backdrop-filter: blur(30px);
} 
.video-js .vjs-tech {
    position: absolute !important;
    left: 0 !important;
    margin: auto !important;
    min-width: 100% !important;
    min-height: 100% !important;
}