* {
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #eef5ff1f;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
}

::-webkit-scrollbar {
     width: 16px;
     height: 16px;
}

::-webkit-scrollbar-corner {
     background-color: transparent;
}

::-webkit-scrollbar-thumb {
     background-color: var(--scrollbar-auto-thumb);
     min-height: 40px;
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-track {
     border: 4px solid transparent;
     background-clip: padding-box;
     border-radius: 8px;
}

::-webkit-scrollbar-track {
     margin-bottom: 8px;
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-track {
     border: 4px solid transparent;
     background-clip: padding-box;
     border-radius: 8px;
}
 
 
::-webkit-scrollbar-track {
     background: var(--scrollbar-auto-track);
}